@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Open+Sans:wght@400;600;700;900&display=swap");

:root {
  --label-clr: #85bf04ff;
  --highlight-green: #436206ff;
  --bkg-clr: #030303ff;
  --fnt-clr: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  color: var(--fnt-clr);
  background-color:var(--bkg-clr);
  padding: 30px;
  position: relative
}
