/*Header Section*/
.header {
  height: 95vh;
  /* width:85vw; */
  /* border: 3px white solid; */
  background-image: linear-gradient(
      to right bottom,
      rgba(132, 191, 4, 0.8),
      rgba(67, 98, 6, 0.8)
    ),
    url(../src/assets/images/gmp-msk-header3.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 10vh, 100% 100%, 0 85vh);
  position: relative;
  border-radius: 10px;
  margin: 0 auto;
}

.logo-box {
  position: absolute;
  top: 1px;
  left: -1px;
  z-index: 1000;
}
.logo {
  height: 120px;
  border-radius: 0 0 15px 0;
}
nav {
  width: 60vw;
}
.navbar-list {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-evenly;
  width: 60%;
  /* font-size: 1rem; */
  position: absolute;
  top: 5.5rem;
  left: 6rem;
  /* border: 3px solid black; */
  list-style: none;
  /* background: white; */
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 600;
  margin-left:2rem;
}
.navbar-list li a {
  text-decoration: none;

  color: var(--fnt-clr);
  padding: 1rem;
  /* border-radius: 10px; */
  border-bottom: 1px solid var(--fnt-clr);
}
.navbar-list li a:hover {
  background-color: #03030357;
  background-image: linear-gradient(
    to right bottom,
    rgba(132, 191, 4, 0.8),
    rgba(67, 98, 6, 0.8)
  );
  box-shadow: 10px 10px 5px 0px rgba(3, 3, 3, 0.75);
  border: 1px solid var(--fnt-clr);
  border-radius: 10px;
}
.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-top: 8rem;
 
  
}

.heading-primary-main {
  display: block;
  width:60vw;
  height:25vh;
  letter-spacing: 10px;
  font-size: 3rem;
  font-weight: 600;
  animation: moveInRight 1s ease-in-out;
  border-radius: 1rem;
  background-image: linear-gradient(
    to right bottom,
    rgba(132, 191, 4, 0.7),
      rgba(67, 98, 6, 0.8)
  ), url(../src/assets/images/gmp-msk-header3.jpg);
  background-size: cover;
  background-color: #03030357;
  padding: 0.85rem 1.5rem;
  /* border-radius: 100px; */
  margin: 2rem 0;
  box-shadow: 10px 10px 5px 0px rgba(3, 3, 3, 0.75);
  display:flex;
  justify-content: center;
  align-items: center;
}
.heading-primary-sub {
  display: block;
  line-height: 2.7;
  letter-spacing: 5px;
  font-size: 1.5rem;
  font-weight: 600;
  animation: moveInLeft 1s ease-in-out;
  background-color: rgba(3, 3, 3, 0.242);
  padding: 0.75rem 1rem;
  /* border-radius: 100px; */
  box-shadow: 10px 10px 5px 0px rgba(3, 3, 3, 0.75);
  width: 50%;
  margin-left: -25%;
  border-radius: 1rem;
  background-image: linear-gradient(
    to right bottom,
    rgba(132, 191, 4, 0.7),
    rgba(67, 98, 6, 0.205)
  );
}
.heading-primary-sub2 {
  width: 70%;
  font-size: 1.5rem;
  margin-left: 50%;
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.btn:link,
.btn:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--fnt-clr);
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: 900;
  background-color: rgba(3, 3, 3, 0.3);
  letter-spacing: 10px;
  border-radius: 1rem;
  margin-top: 6rem;
  transition: all 0.2s;
  box-shadow: 10px 10px 5px 0px rgba(3, 3, 3, 0.75);
  position: relative;
  background-image: linear-gradient(
    to right bottom,
    rgba(132, 191, 4, 0.7),
rgba(67, 98, 6, 0.205)  );
}

.btn:hover,
.navbar-list li:hover {
  transform: translateY(-3px);
}

.btn:active,
.navbar-list li a:active {
  transform: translateY(-1px);
  box-shadow: 5px 5px 3px 0px rgba(3, 3, 3, 0.75);
}
.btn-black {
  background-color: rgba(3, 3, 3, 0.3);
}
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.2s;
}
.btn-black::after {
  background-color: rgba(3, 3, 3, 0.3);
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated,
.navbar-list {
  animation: moveInBottom 0.5s ease-out 1.5s;
  animation-fill-mode: backwards;
}
